# Prueba de consultas

En esta seccion probamos las consultas

In [1]:
import os
import pandas as pd
import numpy as np
data_mvp_funciones = pd.read_csv(os.path.join('3_output','data_mvp_final_funciones.csv'),index_col=0).convert_dtypes()
data_mvp_funciones.info()
data_mvp_funciones.head(2)

<class 'pandas.core.frame.DataFrame'>
Index: 59545 entries, 0 to 310039
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   pelicula_id        59545 non-null  Int64
 1   title              59545 non-null  string
 2   original_language  59531 non-null  string
 3   runtime            59283 non-null  Int64
 4   release_date       59545 non-null  string
 5   franquicia         15315 non-null  string
 6   budget             59545 non-null  Int64
 7   revenue            59545 non-null  Int64
 8   pais_name          15020 non-null  string
 9   productora         14581 non-null  string
 10  director           56423 non-null  string
 11  return             59545 non-null  Float64
 12  release_year       59545 non-null  Int64
dtypes: Float64(1), Int64(5), string(7)
memory usage: 6.7 MB

,pelicula_id,title,original_language,runtime,release_date,franquicia,budget,revenue,pais_name,productora,director,return,release_year
0,862,Toy Story,en,81,1995-10-30,Toy Story Collection,30000000,373554033,United States of America,Pixar Animation Studios,John Lasseter,12.451801,1995
12,8844,Jumanji,en,104,1995-12-15,<NA>,65000000,262797249,<NA>,<NA>,Joe Johnston,4.043035,1995

Instruccion:

def peliculas_idioma( Idioma: str ): Se ingresa un idioma (como están escritos en el dataset, no hay que traducirlos!). Debe devolver la cantidad de películas producidas en ese idioma.

Ejemplo de retorno: X cantidad de películas fueron estrenadas en idioma

In [2]:
# definimos
def pelicula_idioma(idioma: str):
    idioma_str = str(idioma)
    #cantidad = data_mvp_funciones['original_language'].value_counts()[original_language] # alfonzo: numero de registros
    cantidad = data_mvp_funciones['pelicula_id'].loc[
        data_mvp_funciones['original_language'].isin([idioma_str])].nunique() # manuel: valores unicos peliculas
    return print(cantidad,'cantidad de peliculas fueron estrenadas en idioma:',idioma)

# test
pelicula_idioma('en')

32184 cantidad de peliculas fueron estrenadas en idioma: en

Instruccion

def peliculas_duracion( Pelicula: str ): Se ingresa una pelicula. Debe devolver la duracion y el año.

Ejemplo de retorno: X . Duración: x. Año: xx

In [3]:
def pelicula_duracion(pelicula: str): # otros estudiantes lo hace asi
    pelicula_title = str(pelicula) # yo lo hago asi: redundante?
    duracion = data_mvp_funciones.loc[data_mvp_funciones['title'] == pelicula_title, 'runtime'].iloc[0]
    release_year = data_mvp_funciones.loc[data_mvp_funciones['title'] == pelicula_title, 'release_year'].iloc[0]
                              
    return print(pelicula_title+'. Duracion:',round(duracion),'min; Año:',release_year)

# test
pelicula_duracion('Toy Story')

Toy Story. Duracion: 81 min; Año: 1995

Instruccion:

def franquicia( Franquicia: str ): Se ingresa la franquicia, retornando la cantidad de peliculas, ganancia total y promedio

Ejemplo de retorno: La franquicia X posee X peliculas, una ganancia total de x y una ganancia promedio de xx

In [4]:
def franquicia(franquicia: str):
    franquicia_str=str(franquicia)
    franquicia_subset = data_mvp_funciones.loc[
        data_mvp_funciones['franquicia'].isin([franquicia_str])]
    cantidad = franquicia_subset['pelicula_id'].nunique()
    ganancia = franquicia_subset['revenue'].sum()
    ganancia_res = ('{:,}'.format(round(ganancia)))
    promedio = franquicia_subset['revenue'].mean()
    promedio_res = ('{:,}'.format(round(promedio)))
    return print('La franquicia',franquicia_str,'posee',cantidad,'peliculas'+
                 ',\nuna ganancia total de','USD$'+ganancia_res+
                 ',\ny una ganancia promedio de','USD$'+promedio_res,'por pelicula.'
                 )

# test
franquicia('Toy Story Collection')

La franquicia Toy Story Collection posee 3 peliculas,
una ganancia total de USD$3,004,860,308,
y una ganancia promedio de USD$751,215,077 por pelicula.

Instruccion:

def peliculas_pais( Pais: str ): Se ingresa un país (como están escritos en el dataset, no hay que traducirlos!), retornando la cantidad de peliculas producidas en el mismo.

Ejemplo de retorno: Se produjeron X películas en el país X

In [8]:
def pelicula_pais(pais: str):
    pais_str = str(pais)
    #cantidad = data_mvp_funciones['pais_name'].value_counts()[pais] # alfonzo: numero de registros
    cantidad = data_mvp_funciones['pelicula_id'].loc[
       data_mvp_funciones['pais_name'].isin([pais_str])].nunique() # manuel: valores unicos peliculas
    return print('Se produjeron', cantidad, 'peliculas en', pais)

# test
pelicula_pais('United States of America')

Se produjeron 2570 peliculas en United States of America

Instruccion:

def productoras_exitosas( Productora: str ): Se ingresa la productora, entregandote el revunue total y la cantidad de peliculas que realizo.

Ejemplo de retorno: La productora X ha tenido un revenue de x

In [6]:
def productora_exitosa(productora: str):
    #revenue = data_mvp_funciones.loc[data_mvp_funciones['productora'] == productora, 'revenue'].sum() # alfonzo
    productora_subset = data_mvp_funciones.loc[
        data_mvp_funciones['productora'].isin([productora])]
    revenue = productora_subset['revenue'].sum()
    revenue_res = ('{:,}'.format(round(revenue)))
    cantidad = productora_subset['pelicula_id'].nunique()
    
    return print(
        'La productora',productora,'ha tenido un revenue total de USD$'+revenue_res+','
        '\ny realizo un total de',cantidad,'peliculas.'
        )

# test
productora_exitosa('Pixar Animation Studios')

La productora Pixar Animation Studios ha tenido un revenue total de USD$9,267,027,021,
y realizo un total de 12 peliculas.

Instruccion

def get_director( nombre_director ): Se ingresa el nombre de un director que se encuentre dentro de un dataset debiendo devolver el éxito del mismo medido a través del retorno. Además, deberá devolver el nombre de cada película con la fecha de lanzamiento, retorno individual, costo y ganancia de la misma, en formato lista.